{
    "extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
    "env": {
        "browser": true,
        "jquery": true
    },
    "globals": {
		"ga": true,
        "gtag": true,
        "analytics_scrolldepth_settings": true,
        "gascrolldepth": true,
        "analytics_tracking_settings": true
	}
}
