// variables
$background: #e1e1e1;
$border-color-lighter: #e5e5e5;

.wp-analytics-generator-fields-wrap table {
	margin: 0.5em;
	padding: 0.5em;
	background: $background;
	border: 1px solid $border-color-lighter;
	width: 100%;
	caption {
		background: $background;
		text-align: left;
		font-weight: bold;
		font-size: 1.25em;
		padding: 1em 0.5em 0;
	}
}
